.register-bg{
    background-color: #F8FAFC;
    height:720px;
}

.head-logo img{
    display: flex;
    margin: 0 auto;
    width: 300px;
    padding-top: 20px;
}

.registration-form{
    text-align: center;
    border: 2px solid gray;
    padding: 30px;
    border-radius:5px;
}

.registration-form input{
    border: none;
}